{% extends 'base.html.twig' %}

{% block title %}Deck of Cards - Joker{% endblock %}

{% block body %}
    <h1>Deck of Cards with Jokers</h1>
    <span class="card-deck">
        {% set rowCount = 0 %}
        <span class="card-row">
            {% for card in cards %}
                <span class="card">{{ card | raw }}</span>
                {% set rowCount = rowCount + 1 %}
                {% if rowCount == 13 %}
                    {% set rowCount = 0 %}
                    </span><span class="card-row">
                {% endif %}
            {% endfor %}
            {% for joker in jokers %}
                <span class="card">{{ joker | raw }}</span>
            {% endfor %}
        </span>
    </span>

    <form action="{{ path('card_deck_shuffle') }}" method="GET">
        <button type="submit" class="button">Shuffle cards</button>
    </form>
{% endblock %}
