{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Blackjack</h1>

<p>Blackjack is an incredibly popular, exciting and easy card game to play. The object is to have a hand with a total value higher than the dealer's without going over 21. You can read more on 
the <a href="https://en.wikipedia.org/wiki/Blackjack"> 
basics of the game on Wikipedia</a>.</p>

<form action="{{ path('draw_card') }}" method="GET">
    <button type="submit" class="button">Draw one card</button>
</form>

<form action="{{ path('card_deck') }}" method="GET">
    <button type="submit" class="button">See card deck</button>
</form>

<form action="{{ path('card_deck_with_jokers') }}" method="GET">
    <button type="submit" class="button">See card deck with jokers</button>
</form>

<form action="{{ path('card_deck_shuffle') }}" method="GET">
    <button type="submit" class="button">Shuffle cards</button>
</form>



{% endblock %}