header {
    height: 150px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
}

footer {
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
}

main {
    margin: 0 auto;
    max-width: 750px;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    margin: 10px;
}

a {
    color: #004085
}

a:hover {
    color: #2d6eb3
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}


.home-container img {
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}


.column1 img {
    width: 100%;
    height: 100%;
}


ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
}

/**
* kmom02
*/

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 4em;
}

.flash-success {
    border-radius: 5px;
    padding: 0.5em;
    color: #0a2701;
    background-color: #16ab43;
    border-color: #00982e;
}


.flash-success:before {
    content: "ⓘ";
}


.flash-notice {
    border-radius: 5px;
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    border-radius: 5px;
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.card {
    font-size: 5em;
}

.card-red {
    color: red;
}

.button {
    background-color: #004085;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
